<h1>Index</h1>

<form action="/" method="get">
  <p>Search: <input type="text" name="search" value="<%= @input %>"></p>
  <p><input type="submit" value="Search"></p>
</form>

<% @posts.each do |post| %>
<h2><%= post.title %></h2>
<% end %>

<%= will_paginate(@posts) %>